<div id="entries-index">
<div class="row">
  <div class="three columns github">
    <a href="https://github.com/ruemic/FoundationRoR">
      <i class="social foundicon-github"></i>
      <p>Fork me on Github<p>
    </a>
  </div>
  <h1 class="six columns">Listing entries</h1>
  <div class="two columns">
    <a href="#" class="button" data-reveal-id="helpModal"> Need Help? </a>
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @entries.each do |entry| %>
      <tr class="entry-index-item">
        <td>
          <%= entry.name %>
        </td>
        <td>
          <%= link_to '<i class="foundicon-smiley"></i>'.html_safe, entry %>
        </td>
        <td>
          <%= link_to '<i class="foundicon-edit"></i>'.html_safe, edit_entry_path(entry) %>
        </td>
        <td>
          <%= link_to '<i class="foundicon-trash"></i>'.html_safe, entry, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </table>
  <br />

  <%= link_to 'New Entry', new_entry_path, :class => "button four columns offset-by-four" %>
  </div>



</div>
</div>


<div id="helpModal" class="reveal-modal medium">
  <h2>It's Simple.</h2>
  <p class="lead">Just add your name to the list</p>
  <a class="close-reveal-modal">&#215;</a>
</div>







